@media (min-width: 768.01px) {
  .site-header {
    background: url('./site-header-desktop.png');
    background-size: contain;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    aspect-ratio: 1440 / 115;
  }
}

@media (max-width: 768px) {
  .site-header {
    background: url('./site-header-mobile.png');
    background-size: contain;
    width: 100%;
    margin-inline: auto;
    aspect-ratio: 375 / 71;
  }
}
