@media (min-width: 1150.01px) {
  .site-header {
    background: url('./site-header-desktop.png');
    background-size: contain;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    aspect-ratio: 1440 / 115;
  }
}

@media (min-width: 640px) and (max-width: 1150px) {
  .site-header {
    background: url('./header-tablet.png');
    background-size: contain;
    width: 100%;
    margin-inline: auto;
    aspect-ratio: 2225 / 217;
  }
}

@media (max-width: 639.99px) {
  .site-header {
    background: url('./header-mobile.png');
    background-size: contain;
    width: 100%;
    margin-inline: auto;
    aspect-ratio: 1175 / 192;
  }
}
