.video-horizontal {
  position: relative;
}

.video__player {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video.is-showing-poster .video__player {
  display: none;
}

.video:not(.is-showing-poster) .video__player {
  display: block;
}

.video.is-showing-poster .video__poster {
  display: block;
}

.video:not(.is-showing-poster) .video__poster {
  display: none;
}

.video__poster {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  inset-block-start: 0;
  inset-inline-start: 0;
  overflow: hidden;
}

.video__poster img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.video__info {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: linear-gradient(to top, black 15%, transparent);
  color: var(--white);
  padding: var(--gap);
  font-size: var(--f5);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  justify-content: end;
  gap: 0.5rem;
}

.video__icon {
  width: 36px;
  aspect-ratio: 1 / 1;
  background: url(../../icons/play.svg);
}

.video__poster:focus {
  box-shadow: none !important;
}

.video__poster:focus .video__icon {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f6691c;
}
