<section class="reports">
  <header class="reports__header util-block-spacing">
    <h2 class="reports__title">{{ title }}</h2>
    <div class="reports__description">{{ description }}</div>
    <div class="reports__link">
      {% include '@components/link_emphasis/link_emphasis.twig' with {
        url: link_url,
        text: link_text,
      } %}
    </div>
  </header>
  <ul class="reports__list">
    <li>
      {% include '@components/report/report.twig' with vars.report.default %}
    </li>
    <li>
      {% include '@components/report/report.twig' with vars.report.default %}
    </li>
    <li>
      {% include '@components/report/report.twig' with vars.report.default %}
    </li>
    <li>
      {% include '@components/report/report.twig' with vars.report.default %}
    </li>
  </ul>
</section>