.reports {
  background: var(--near-white);
  padding-block: calc(var(--gap) * 2);
}


/**
 * Mobile only
 */
@media (max-width: 768px) {
  .reports .report {
    max-width: min(calc(100vw - (var(--gap) * 3)), 280px); /* Ensures that part of the next slide is always visible in the carousel */
  }
}

/**
 * Desktop only
 */
@media (min-width: 768.01px) {
  .reports .report {
    width: calc((1440px - (var(--gap) * 5)) / 4); /* Fit 4 items in 1440px screen, with gap/padding */
  }
}
