<section class="reports">
  {% include '@components/section_header/section_header.twig' %}
  <ul class="reports__list">
    <li class="reports__item">
      {% include '@components/report/report.twig' with vars.report.default %}
    </li>
    <li class="reports__item">
      {% include '@components/report/report.twig' with vars.report.en1 %}
    </li>
    <li class="reports__item">
      {% include '@components/report/report.twig' with vars.report.en2 %}
    </li>
    <li class="reports__item">
      {% include '@components/report/report.twig' with vars.report.en3 %}
    </li>
  </ul>
</section>