.strip {
  padding-block: 1rem;
  padding-inline: var(--gap);
}

.strip .splide__slide {
  padding-inline: var(--gap);
  border-inline-end: 1px solid var(--black);
}

.strip .splide__slide:last-child {
  border-inline-end: 0;
}

.strip .splide:not(.is-active) .splide__list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

