<section class="spotlight">
  {% include "@components/section_header/section_header.twig" %}
  <div class="spotlight__layout">
    <div class="spotlight__primary">
      {% block primary %}
        {% include '@components/card/card.twig' with vars.card.default %}
      {% endblock %}
    </div>
    <div class="spotlight__secondary">
      {% block secondary %}
        {% include '@components/card/card.twig' with vars.card.default|merge(vars.card.sidebyside) %}
        {% include '@components/card/card.twig' with vars.card.default|merge(vars.card.sidebyside2) %}
        {% include '@components/card/card.twig' with vars.card.default|merge(vars.card.sidebyside3) %}
        {% include '@components/card/card.twig' with vars.card.default|merge(vars.card.sidebyside4) %}
      {% endblock %}
    </div>
  </div>
</section>