.button {
  min-height: 24px;
  min-width: 24px;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-primary {
  background-color: var(--blue);
  color: var(--white);
}

.button-primary:hover {
  background-color: var(--dark-blue);
}

.button-secondary {
  background-color: var(--orange);
  color: var(--white);
}

.button-secondary:hover {
  background-color: var(--dark-orange);
}

.button-secondary-transparent {
  background: transparent;
  border: 1.5px solid var(--orange);
  color: var(--orange);
}

.button-secondary-transparent:hover {
  filter: brightness(150%);
}

.button-text {
  display: inline-flex;
  align-items: center;
  padding-block: 0.75em;
  padding-inline: 1.25em;
  font-size: 14pt;
  font-weight: bold;
  line-height: 1.15;
  text-transform: uppercase;
}