.hero-brand {
  background-color: var(--black);
}

.hero-brand__card {
  background: var(--black);
  color: var(--white);

}

.hero-brand h2 {
  font-size: var(--f1);
}

.hero-brand__body {
  font-family: var(--font-serif);
  font-size: var(--f7);
}

.hero-brand__ctas {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

/**
 * Mobile only
 */
@media (max-width: 768px) {
  .hero-brand__card {
    position: relative;
    z-index: 1;
    padding: var(--gap);
  }
  .hero-brand__image {
    position: relative;
    z-index: 0;
  }
}

/* Attempt to pull the image slightly under the card, for a gradient effect */
@media (min-width: 520px) and (max-width: 768px) {
  .hero-brand__card {
    background: linear-gradient(to bottom, black 25%, transparent);
    margin-bottom: -17rem;
    padding-block-end: 11rem;
  }
}

/**
 * Desktop only
 */
@media (min-width: 768.01px) {
  .hero-brand {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
  }

  .hero-brand__image {
    z-index: 0;
    grid-column: 1 / 13;
    grid-row: 1;
    width: 100%;
    height: 100%;
  }

  .hero-brand__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hero-brand__card {
    z-index: 1;
    grid-column: 1 / 12;
    grid-row: 1;
    height: 100%;
    max-width: calc(50rem + 50%); /* constrain line length for very wide screens */
    padding-block: 160px;
    padding-inline-start: calc(100% / 11);
    padding-inline-end: calc((100% / 11) * 5);
    background: linear-gradient(to right, black 25%, transparent);
  }

  [dir="rtl"] .hero-brand__card {
    background: linear-gradient(to left, black 25%, transparent);
  }
  [dir="rtl"] .hero-brand__image {
    transform: scaleX(-1);
  }

  .hero-video-trigger {
    position: absolute;
    z-index: 2;
    inset-block-end: 0;
    inset-inline-end: 0;
    background: #fff;
  }
}
