<!doctype html>
<html lang="en">
<head>
  <title>Component: starter</title>
  <link rel="shortcut icon" href="data:,"/>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link rel='stylesheet' href='/css/main.css' />
  <link rel="stylesheet" href="/fonts/fonts-edited.css"/>
</head>
<body>
<main>

</main>
<script src="/js/twig.min.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/main.js"></script>

<script>
  document.addEventListener('componentsLoaded', () => {
    // Show component with default variables
    appendToMain(renderTwig('starter'));
    // Show component using alternate set of variables
    appendToMain(renderTwig('starter', 'es'));
    // Show component using custom variable override and Twig block replacement
    appendToMain(renderTwig('starter', {title: 'Overridden title'}, {
      exampleblock: '<p>This markup replaces a Twig block</p>',
    }));

    // Fire a custom 'twigRendered' event, so that component JS
    // can run after the components are built.
    const event = new Event('twigRendered');
    document.dispatchEvent(event);
  });

</script>
</body>
</html>