.stack {

}

.stack__title {
  text-transform: uppercase;
}

.stack__list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.5);
}

.stack .link-emphasis {
  white-space: normal; /* Some stack titles are too long for the potential small column width */
}