.carousel {
  padding-block: 1rem;
  padding-inline: var(--gap);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.carousel h2 {
  font-size: var(--f5);
  font-weight: bold;
}

.carousel:not(.is-active) .splide__list {
  display: grid !important;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.splide__track {
  margin-inline: calc(var(--gap) * -1);
}

.splide__slide {
  padding-inline: var(--gap);
  border-inline-end: 1px solid var(--black);
}
.splide__slide:last-child {
  border-inline-end: 0;
  padding-inline-end: calc(var(--gap) + 10%);
  width: calc(55%) !important;
}

.splide__arrows {
  display: flex;
  justify-content: center;
}

.splide__pagination {
  order: 2;
  margin-inline: 20px;
}

.splide__arrow--next {
  order: 3;
}

.splide__pagination li {
  display: inline-flex;
}

.splide__pagination__page {
  background: var(--gray);
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-inline: 6px;
  padding: 0;
  position: relative;
  transition: transform .2s linear;
  width: 6px;
}
.splide__pagination__page.is-active {
  background: var(--blue);
}

@media (min-width: 768.01px) {
  .splide__arrows {
    display: none;
  }
}