.carousel {
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.splide__track {
  margin-inline: calc(var(--gap) * -1); /* Lets slides break out of their container slightly (UX hint that there is horizontal content) */
}

/**
 * Contain and reorder the carousel arrows and pagination
 */
.splide__arrows {
  display: flex;
  justify-content: center;
  margin-block-start: var(--gap);
}

.splide__arrow--prev {
  order: 1;
}

.splide__pagination {
  order: 2;
  margin-inline: 20px;
}

.splide__arrow--next {
  order: 3;
}

.splide__pagination li {
  display: inline-flex;
}

.splide__pagination__page {
  background: var(--gray);
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-inline: 6px;
  padding: 0;
  position: relative;
  transition: transform .2s linear;
  width: 6px;
}
.splide__pagination__page.is-active {
  background: var(--blue);
}

.splide:not(.is-active) .splide__arrows,
.splide:not(.is-overflow) .splide__arrows {
  display: none;
}
