.modal-disclosure {
  background-color: var(--white);
  border: 1px solid var(--gray);
}
.modal-disclosure summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 12px;
  padding-inline: var(--gap);
  font-weight: bold;
  line-height: 1.15;
  list-style: none;
  cursor: pointer;
}

.modal-disclosure summary::-webkit-details-marker {
  display: none;
}

.modal-disclosure summary::after {
  display: block;
  content: '';
  flex: 0 0 auto;
  width: 1.125em;
  height: 1.125em;
  margin-inline-start: 32px;
  background: url("../../icons/+.svg");
  background-size: cover;
}

.modal-disclosure[open] summary::after {
  background-image: url("../../icons/-.svg");
}

.modal-disclosure__iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/**
 * Mobile only
 */
@media (max-width: 768px) {
  .modal-disclosure .modal {
    display: block;
    position: relative;
    border: 0;
    width: 100%;
  }
  .modal-disclosure .modal-header {
    display: none;
  }
}

/**
 * Desktop only
 */
@media (min-width: 768.01px) {
}