.report {
  min-width: min(calc(100vw - (var(--gap) * 4)), 20rem);
  max-width: min(calc(100vw - (var(--gap) * 4)), 24rem);
  position: relative;
}

.report__details {
  position: absolute;
  z-index: 1;
  opacity: 0;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  padding-block: 25px;
  padding-inline: var(--gap);
  overflow: scroll;
  background: var(--black);
  color: var(--white);
  line-height: 1.2;
  text-decoration: none;
}

.report__title {
  font-size: var(--f6);
  font-weight: bold;
}

.report__subtitle {
  font-size: var(--f8);
  font-weight: bold;
}

.report__teaser {
  font-family: var(--font-serif);
}

.report__date {
  font-weight: bold;
}

.report__pagecount {
  color: var(--gray);
}



/**
 * Hover devices: Show details on hover or focus
 */
@media (hover: hover) {
  .report__details:focus,
  .report:hover .report__details {
    opacity: 0.8;
  }

  .report__button {
    display: none;
  }

  .report__details:hover {
    text-decoration: none;
  }
}



/**
 * Non-mouse devices: show button to display report details
 */
@media (hover: none) {
  .report__button {
    position: absolute;
    z-index: 2;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .report__title {
    text-decoration: underline; /* hints that the whole card is a link */
  }

  .report__button[aria-expanded="true"] ~ .report__details {
    opacity: 0.8;
  }

  .report__button-icon {
    background: var(--white);
    color: var(--black);
    font-weight: bold;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .report__button[aria-expanded="false"] .report__button-icon:before {
    display: block;
    content: "i";
  }
  .report__button[aria-expanded="true"] .report__button-icon:after {
    display: block;
    content: "x";
  }
}