.hero {
}

.hero__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #fff;
  padding: 1rem var(--gap);
}

.hero__eyebrow {
  font-weight: bold;
  line-height: 1;
  border-bottom: 1.5px solid #000;
  margin-block-end: 1rem;
}

.hero__eyebrow .inner {
  display: inline-block;
  padding-block: 0.5rem;
  font-size: var(--f7);
}

.hero__date {
  font-size: var(--f10);
}

.hero__headline {
  font-size: var(--f2);
  font-weight: 700;
  margin-block-start: -0.25rem;
}

.hero__body {
  font-family: var(--font-serif);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.hero__package {
  font-weight: bold;
  line-height: 1;
  border-bottom: 1.5px solid #000;
  margin-block-end: 0.5rem;
}

.hero__package .inner {
  display: inline-block;
  padding-block: 0.5rem;
  font-size: var(--f7);
}

.hero__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5rem 1rem;
}

/**
 * Mobile only
 */
@media (max-width: 768px) {
  .hero {
    padding-inline: var(--gap);
  }
  .hero__image {
    margin-inline: calc(var(--gap) * -1);
  }
  .hero__card {
    position: relative;
    z-index: 1;
    margin-block-start: -32px;
    margin-inline-start: calc(var(--gap) * -1);
    margin-inline-end: 30px;
  }
  .hero__eyebrow {
    font-size: var(--f7);
  }
}

/**
 * Desktop only
 */
@media (min-width: 768.01px) {
  .hero {
    position: relative;
    padding-inline: var(--gap);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
  }

  .hero__image {
    grid-column: 4 / 13;
    grid-row: 1;
    line-height: 0;
  }

  .hero__card {
    grid-column: 1 / 5;
    grid-row: 1;
    height: fit-content;
    padding: 1rem var(--gap);
    margin-inline: calc(var(--gap) * -1);
  }

  .hero__video-trigger {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: var(--gap);
    background: #fff;
  }
}


/**
 * "Breaking" variant
 */
.hero-breaking .hero__eyebrow {
  border-bottom-color: var(--red);
}

.hero-breaking .hero__eyebrow .inner {
  border: 1.5px solid var(--red);
  border-bottom: 0;
  padding-inline: 0.5rem;
  color: var(--red);
  text-transform: uppercase;
}


/**
 * "Reverse" variant
 */
@media (min-width: 768.01px) {
  .hero-reverse .hero__image {
    grid-column: 1 / 10;
  }

  .hero-reverse .hero__card {
    grid-column: 9 / 13;
  }
}
