<!doctype html>
<html lang="en">
<head>
  <title>Component: shorts</title>
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="data:,"/>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
  <link href=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide-core.min.css " rel="stylesheet">
  <link rel="stylesheet" href="../../css/reset.css"/>
  <link rel='stylesheet' href="../../css/main.css" />
  <link rel="stylesheet" href="../../fonts/fonts-edited.css"/>
</head>
<body>
<main class="util-block-spacing">

</main>
<script src="../../js/twig.min.js"></script>
<script src="../../js/functions.js"></script>
<script src="../../js/main.js"></script>

<script>
  document.addEventListener('componentsLoaded', () => {
    // Show component with default variables
    appendToMain(renderTwig('shorts', {
      items: [
        renderTwig('video_vertical'),
        renderTwig('video_vertical', 'youtube2'),
        renderTwig('video_vertical', 'youtube3'),
        renderTwig('video_vertical', 'youtube4'),
      ]
    }));

    // Fire a custom 'twigRendered' event, so that component JS
    // can run after the components are built.
    const event = new Event('twigRendered');
    document.dispatchEvent(event);
  });

</script>
</body>
</html>