<div class="stats">
  {% for stat in stats %}
    <div class="stat">
      <div class="stat__figure">{{ stat.figure }}</div>
      <div class="stat__description">{{ stat.description }}</div>
    </div>
  {% endfor %}
</div>