.stats {
  gap: var(--gap);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.stat:nth-child(odd) {
  padding-inline-end: var(--gap);
  border-inline-end: 1px solid var(--black);
}

.stat__figure {
  font-size: var(--f3);
  font-weight: bold;
  line-height: 1;
  margin-block-start: -0.2em;
  /* animation effects on .is-seen */
  opacity: 0;
  position: relative;
  bottom: -20px;
  transition: all 1s ease-out;
}

.is-seen .stat__figure {
  opacity: 1;
  bottom: 0;
}

.stat:nth-child(1) .stat__figure {
  transition-delay: 0.4s;
}

.stat:nth-child(2) .stat__figure {
  transition-delay: 1.0s;
}

.stat:nth-child(3) .stat__figure {
  transition-delay: 1.6s;
}

.stat:nth-child(4) .stat__figure {
  transition-delay: 2.2s;
  bottom: 0;
}

.stat__description {
  margin-block-start: 0.333em;
  font-family: var(--font-serif), serif;
}

/**
 * Large container
 */
@container (min-width: 768.01px) {
  .stats {
    display: flex;
  }

  .stat {
    flex: 1 1 auto;
  }

  .stat:not(:last-child) {
    padding-inline-end: var(--gap);
    border-inline-end: 1px solid var(--black);
  }
}
