.card-minimal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-minimal h3 {
  font-size: var(--f8);
  font-weight: bold;
}

.card-minimal .card__date {
  font-size: var(--f10);
}

.card-minimal .card__image + .card__title {
  margin-block-start: 0.5rem;
}