<div class="card-minimal">
  <a href="{{ url }}">
    {% if image %}
      <div class="card__image">
        {{ image }}
      </div>
    {% endif %}
    <div class="card__title">
      {{ title }}
    </div>
  </a>
  {% if date %}
    <div class="card__date">
      {{ date }}
    </div>
  {% endif %}
</div>