.about {
  padding: 1rem var(--gap);
}

.about__image img {
  width: 100%;
}

.about__card {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: #fff;
}

.about__headline {
  font-size: var(--f2);
  font-weight: 700;
}

.about__body {
  font-size: var(--f6);
  line-height: 1.5;
}

.about .stats {
  border-block-start: 1px solid var(--black);
  padding-block-start:  var(--gap);
}

@media (min-width: 768.01px) {
  .about {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
  }

  .about__image {
    grid-column: 8 / 13;
    grid-row: 1;
    line-height: 0;
  }

  .about__card {
    grid-column: 1 / 8;
    grid-row: 1;
    height: fit-content;
  }
}

@media (min-width: 480.01px) and (max-width: 768px) {
  .about__image {
    grid-column: 7 / 13;
  }
  .about__card {
    grid-column: 1 / 6;
  }
}